body {
  background-color: rgb(15, 23, 42);
  font-family: sans-serif;
  color: #e2e8f0;
  max-width: 30%;
  font-weight: 500;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

a {
  text-decoration: none;
  color: #e2e8f0;
}

::selection {
  background: #5fead5;
  color: #12534d;
}

ul {
  list-style: none;
}

li:before {
  content: " ——— ";
  margin-right: 10px;
}

li {
  font-size: 12px;
  font-weight: bold;
}

div.left {
  margin-left: 100px;
  margin-top: 100px;
  padding-left: 300px;
  width: 450px;
}

div.right {
  margin-right: 100px;
  margin-top: 100px;
}

li:hover {
  color: #d0d8e2;
}

li {
  color: #2f3a4c;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

ul:hover {
  margin-right: 10px;
  padding-right: 0px;
  opacity: 0.7;
}

div p.right-par {
  padding-left: 450px;
  margin-top: 100px;
  width: 500px;
}

p.right-par {
  position: fixed;
  top: 50px;
  right: 450px;
}
